<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="https://v4-alpha.getbootstrap.com/examples/blog/blog.css" rel="stylesheet"> -->

    <!-- A slightly modified version of the original Bootstrap Blog Template css.
        Original link above -->
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">

    <!-- Create a global variable with our root url -->
    <script type=text/javascript>$SCRIPT_ROOT = {{ request.url_root|tojson|safe }};</script>

    {% block head %}{% endblock %}

  </head>

  <body>

    <div class="blog-masthead">
      <div class="container">
        <nav class="nav blog-nav">
          <a class="nav-link" href="{{ url_for('index') }}">Home</a>
          <a class="nav-link" href="{{ url_for('blog.archive') }}">Archives</a>
          <a class="nav-link" href="{{ url_for('blog.authors') }}">Authors</a>
          <a class="nav-link" href="{{ url_for('about_me.about_me') }}">About Nick</a>
          <a class="nav-link" href="{{ url_for('blog.create') }}">Create</a>
          {% if current_user.is_authenticated %}
          <div class="navbar-right nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  {{ current_user.email }}
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="{{ url_for('auth.account') }}">View</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Log Out</a>
              </div>
          </div>
          {% else %}
          <!-- td -->
          <a class="navbar-right nav-link btn btn-primary" href="{{ url_for('auth.login') }}">Log In</a>
          {% endif %}
        </nav>
      </div>
    </div>

    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title">{% block heading %}{% endblock %}</h1>
        <p class="lead blog-description">{% block subheading %}{% endblock %}</p>
      </div>
    </div>

    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="flashes">
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}

        {% block container %}{% endblock %}
    </div><!-- /.container -->
    {% block rawContent %}{% endblock %}
    
    {% block footer %}
      <footer class="blog-footer">
          <p>{{ request.script_root|tojson|safe }}</p>
          <p>Just want to see lots of blog posts? <a href="{{ url_for('blog.seed') }}">Seed the blog.</a></p>
        <p>Original blog template built for <a href="https://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
        <p>Thanks <a href="https://twitter.com/mdo">@mdo</a>!</p>
        <p>
          <a href="#">Back to top</a>
        </p>
      </footer>
    {% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
