{% from "_formhelpers.html" import render_field %}
{% extends 'base.html' %}

{% block container %}
<div class="row mb-5">
    <div class="offset-sm-3 col-sm-6">
        <div class="card">
            <div class="card-header">
                Create Account
            </div>
            <div class="card-block">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    {{ render_field(form.name) }}
                    {{ render_field(form.email) }}
                    {{ render_field(form.password) }}
                    {{ render_field(form.confirm_password) }}
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
        <div>
            Already have an account?
            <a href="{{ url_for('auth.login') }}">Login.</a>
        </div>
    </div>
</div>
{% endblock %}