{% extends 'base.html' %}

{% block container %}
      <div class="row">

        <div class="col-sm-8 blog-main">
            {% block content %}{% endblock %}
        </div><!-- /.blog-main -->

        <div class="col-sm-3 offset-sm-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Thanks for stopping by! You can see everyone's blog posts on <a href="{{ url_for('blog.index') }}">the home page</a>. To find blog posts by author or publish date, go to the <a href="{{ url_for('blog.archive') }}">Archives</a> page. To see information about contributing authors, visit the <a href="{{ url_for('blog.authors') }}">Authors</a> page. To contribute your own content, <a href="{{ url_for('auth.signup') }}">Create an Account</a>. If you want to see how the site looks with a lot of blog posts, <a href="{{ url_for('blog.seed') }}">seed the blog</a>. For more info about me, see the <a href="{{ url_for('about_me.about_me') }}">About Nick</a> page.</p>
          </div>

          <div class="sidebar-module">
            <h4>Elsewhere</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/nward13" target="_blank">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/ward-nick/" target="_blank">LinkedIn</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

{% endblock %}
